<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Password Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div ng-app="strong-pass" ng-controller="spController as sp">
        <h1>Password Generator</h1>
        <form>
            
            <p>Length<input type="number" min=8 ng-model="sp.length"/></p>
            <p>Include numbers<input type="checkbox" ng-model="sp.numbers"/></p>
            <p>Include symbols<input type="checkbox" ng-model="sp.symbols"/></p>
            
            <button ng-click="sp.showStates(sp.length,sp.numbers,sp.symbols)">Generate password</button>

            <input type="text" ng-model="result">
        </form>
    </div>
</body>
</html>
