<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Password Generator</title>

  <link rel="stylesheet" href="style.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="strong-pass" ng-controller="spController as sp">
  <div>
    <h1>Password Generator</h1>
    <hr />
    <div id="formContainer">
      <form>


        <table>
          <tr>
            <td>
              <p>Password length</p>
            </td>
            <td><input type="number" min="8" max="1024" id="length" ng-model="sp.length"></td>
          </tr>

          <tr>
            <td>
              <p>Include numbers</p>
            </td>
            <td><input type="checkbox" ng-model="sp.numbers" /></td>
          </tr>
          <tr>
            <td>
              <p>Include symbols</p>
            </td>
            <td><input type="checkbox" ng-model="sp.symbols" /></td>
          </tr>
        </table>

        <div id="generateDiv">
          <button ng-click="sp.showStates(sp.length,sp.numbers,sp.symbols)">
            GET PASSWORD
          </button><br>
        </div>

        <input type="text" id="result" ng-model="result" readonly />
      </form>
    </div>
  </div>
</body>

</html>